name: Build OpenCV WASM
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14

      - name: Verify Emscripten
        run: emcc -v

      - name: Download OpenCV Headers
        run: |
          mkdir -p include/opencv2
          # Скачиваем основные файлы
          curl -L https://raw.githubusercontent.com -o include/opencv2/core.hpp
          curl -L https://raw.githubusercontent.com -o include/opencv2/imgproc.hpp
          # Скачиваем внутренние зависимости (без них не соберется)
          mkdir -p include/opencv2/core
          curl -L https://raw.githubusercontent.com -o include/opencv2/core/cvdef.h
          curl -L https://raw.githubusercontent.com -o include/opencv2/core/version.hpp
          curl -L https://raw.githubusercontent.com -o include/opencv2/core/base.hpp

      - name: Build with Python
        run: python3 scripts/build.py
