name: Fast Build OpenCV WASM
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        
      - name: Cache OpenCV WASM
        id: cache-opencv
        uses: actions/cache@v4
        with:
          path: opencv-wasm
          key: opencv-4.10.0-wasm-v1
          
      - name: Build OpenCV Libs
        if: steps.cache-opencv.outputs.cache-hit != 'true'
        run: |
          rm -rf opencv_source
          # Разрезаем ссылку, чтобы GitHub её не "увидел" и не урезал
          H="github.com"
          R="opencv/opencv.git"
          # Собираем её прямо в команде
          git clone --depth 1 --branch 4.9.0 "https://$H/$R" opencv_source
          
          cd opencv_source
          mkdir build && cd build
          
          emcmake cmake .. \
            -DBUILD_EXAMPLES=OFF \
            -DBUILD_JPEG=OFF \
            -DBUILD_LIST=core,imgproc \
            -DBUILD_OPENEXR=OFF \
            -DBUILD_OPENJPEG=OFF \
            -DBUILD_PERF_TESTS=OFF \
            -DBUILD_PNG=OFF \
            -DBUILD_SHARED_LIBS=OFF \
            -DBUILD_TESTS=OFF \
            -DBUILD_TIFF=OFF \
            -DBUILD_WEBP=OFF \
            -DBUILD_ZLIB=ON \
            -DBUILD_opencv_apps=OFF \
            -DBUILD_opencv_world=OFF \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_CXX_FLAGS="-DCV_CPU_COMPILE_WASM=0 -DCV_CPU_BASELINE_WASM=0 -DOPENCV_HAL_INTRIN_WASM_HPP=1" \
            -DCMAKE_C_FLAGS="-DCV_CPU_COMPILE_WASM=0 -DCV_CPU_BASELINE_WASM=0 -DOPENCV_HAL_INTRIN_WASM_HPP=1" \
            -DCPU_BASELINE=SCALAR \
            -DCPU_DISPATCH="" \
            -DCV_ENABLE_INTRINSICS=OFF \
            -DENABLE_SIMD=OFF \
            -DINSTALL_CREATE_DISTRIB=OFF \
            -DOPENCV_GENERATE_PKGCONFIG=OFF \
            -DOPENCV_GENERATE_SETUPVARS=OFF \
            -DOPENCV_SKIP_INSTALL_EXPORT=ON \
            -DOPENCV_WASM_SIMD=OFF \
            -DWITH_CUDA=OFF \
            -DWITH_GUI=OFF \
            -DWITH_IPP=OFF \
            -DWITH_ITT=OFF \
            -DWITH_JPEG=OFF \
            -DWITH_OPENEXR=OFF \
            -DWITH_OPENJPEG=OFF \
            -DWITH_PNG=OFF \
            -DWITH_QUIRC=OFF \
            -DWITH_TIFF=OFF \
            -DWITH_VIDEO=OFF \
            -DWITH_WEBP=OFF

          emmake make -j$(nproc)
          cd ../..
          # Создаем структуру, куда будем складывать "трофеи"
          mkdir -p opencv-wasm/lib
          mkdir -p opencv-wasm/include/opencv2
          
          # 1. Копируем библиотеки (файлы .a)
          cp opencv_source/build/lib/*.a opencv-wasm/lib/
          
          # 2. Копируем папки с заголовками (тут -r ОБЯЗАТЕЛЕН)
          cp -r opencv_source/include/* opencv-wasm/include/
          cp -r opencv_source/modules/core/include/* opencv-wasm/include/
          cp -r opencv_source/modules/imgproc/include/* opencv-wasm/include/
          
          # 3. Копируем то самое "Оглавление" (одиночный файл, без -r)
          cp opencv_source/build/opencv2/opencv_modules.hpp opencv-wasm/include/opencv2/

      - name: Verify Files
        run: |
          echo "Список добытых трофеев:"
          ls -R opencv-wasm/lib/
          ls -l opencv-wasm/lib/

      - name: Build My Project
        run: python3 scripts/build.py

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wasm-dist
          path: |
            index.js
            index.wasm
