name: Build OpenCV WASM
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14

      - name: Install OpenCV WASM
        run: |
          # Создаем папку и скачиваем туда OpenCV
          mkdir -p opencv-wasm
          curl -L https://github.com | tar -xz -C opencv-wasm --strip-components=1

      - name: Build with Python
        run: python3 scripts/build.py

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wasm-dist
          path: |
            index.js
            index.wasm
            
