name: Build OpenCV WASM
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14

      - name: Verify Emscripten
        run: emcc -v
        
      - name: Download OpenCV Headers
        run: |
          # Клонируем только заголовки (самый быстрый и надежный способ)
          git clone --depth 1 --sparse https://github.com
          cd opencv
          git sparse-checkout set modules/core/include modules/imgproc/include
          cd ..
          
          # Копируем файлы в нашу структуру проекта
          mkdir -p include/opencv2
          cp -r opencv/modules/core/include/opencv2/* include/opencv2/
          cp -r opencv/modules/imgproc/include/opencv2/* include/opencv2/
          echo "OpenCV Headers are ready!"



