name: Build OpenCV WASM
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14

      - name: Verify Emscripten
        run: emcc -v
      - name: Download OpenCV Headers
        run: |
          # 1. Скачиваем официальный архив заголовков OpenCV (версия 4.10.0)
          curl -L https://github.com -o opencv.zip
          
          # 2. Распаковываем его
          unzip -q opencv.zip
          
          # 3. Создаем нашу папку include и переносим туда ВСЕ заголовки модулей
          mkdir -p include/opencv2
          cp -r opencv-4.10.0/modules/core/include/opencv2/* include/opencv2/
          cp -r opencv-4.10.0/modules/imgproc/include/opencv2/* include/opencv2/
          
          # 4. Очистка (чтобы не занимать место)
          rm -rf opencv-4.10.0 opencv.zip
          echo "OpenCV Headers downloaded and organized!"
