name: Fast Build OpenCV WASM
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        
      - name: Cache OpenCV WASM
        id: cache-opencv
        uses: actions/cache@v4
        with:
          path: opencv-wasm
          key: opencv-4.10.0-wasm-v1
          
      - name: Build OpenCV Libs
        if: steps.cache-opencv.outputs.cache-hit != 'true'
        run: |
          # 1. Клонируем в конкретную папку opencv_source
          git clone --depth 1 --branch 4.10.0 https://github.com opencv_source
          
          cd opencv_source
          mkdir build && cd build
          
          # 2. Конфигурация (минимизируем сборку для скорости)
          emcmake cmake .. \
            -DCMAKE_BUILD_TYPE=Release \
            -DBUILD_LIST=core,imgproc \
            -DBUILD_opencv_world=ON \
            -DBUILD_TESTS=OFF \
            -DBUILD_PERF_TESTS=OFF \
            -DBUILD_EXAMPLES=OFF \
            -DBUILD_opencv_apps=OFF \
            -DWITH_PTHREADS_PF=OFF
            
          # 3. Сборка
          emmake make -j$(nproc)
          
          # 4. Копирование артефактов в структуру проекта
          mkdir -p ../../opencv-wasm/lib
          mkdir -p ../../opencv-wasm/include
          cp lib/libopencv_world.a ../../opencv-wasm/lib/
          cp -r ../include/* ../../opencv-wasm/include/
          find ../modules -name "include" -type d -exec cp -r {}/. ../../opencv-wasm/include/ \;

      - name: Build My Project
        run: python3 scripts/build.py

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wasm-dist
          path: |
            index.js
            index.wasm

