name: Fast Build OpenCV WASM
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        
      - name: Download OpenCV Headers
        run: |
          wget -O opencv.zip https://github.com/opencv/opencv/archive/refs/tags/4.10.0.zip
          unzip -q opencv.zip
          mkdir -p opencv-wasm/include/opencv2
          # Копируем всё содержимое
          cp -r opencv-4.10.0/include/* opencv-wasm/include/
          find opencv-4.10.0/modules -name "include" -type d -exec cp -r {}/. opencv-wasm/include/ \;
          
          # СОЗДАЕМ ЗАГЛУШКУ (тот самый файл, которого не хватает)
          echo "#define HAVE_OPENCV_CORE" > opencv-wasm/include/opencv2/opencv_modules.hpp
          echo "#define HAVE_OPENCV_IMGPROC" >> opencv-wasm/include/opencv2/opencv_modules.hpp
          
          # Проверка связи
          ls -R opencv-wasm/include/opencv2/opencv_modules.hpp

          # Скачиваем готовую библиотеку прямо в наш проект 
          wget -O opencv.js --user-agent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36" https://docs.opencv.org/4.10.0/opencv.js

      - name: Download OpenCV Libs
        run: |
          # Скачиваем уже скомпилированные библиотеки (WASM)
          wget -L https://github.com/opencv/opencv/releases/download/4.10.0/opencv-4.10.0-docs.zip -o opencv_lib.zip
          unzip -q opencv_lib.zip -d opencv_prebuilt
          mkdir -p opencv-wasm/lib
          # Берем только нужные файлы .a
          find opencv_prebuilt -name "*.a" -exec cp {} opencv-wasm/lib/ \;

      - name: Build My Project
        run: python3 scripts/build.py

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wasm-dist
          path: |
            index.js
            index.wasm
            opencv.js


