name: Fast Build OpenCV WASM
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14

      - name: Download OpenCV Headers
        run: |
          wget -O opencv.zip https://github.com/opencv/opencv/archive/refs/tags/4.10.0.zip
          unzip -q opencv.zip
          mkdir -p opencv-wasm/include
          # Ищем папку opencv2 внутри распакованного архива и копируем её
          find . -name "opencv2" -type d -exec cp -r {} opencv-wasm/include/ \;
          # Проверяем, что теперь файл на месте
          find opencv-wasm/include -name "core.hpp"

      - name: Build My Project
        run: python3 scripts/build.py

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wasm-dist
          path: |
            index.js
            index.wasm

