name: Build OpenCV WASM
on: [push] # Запускать сборку при каждом сохранении (commit)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14

      - name: Verify Emscripten
        run: emcc -v

      - name: Build with Python
        run: python3 scripts/build.py
