name: Build OpenCV WASM
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14

      - name: Verify Emscripten
        run: emcc -v
        
      - name: Download OpenCV Headers
        run: |
          # Клонируем репозиторий OpenCV целиком (только заголовки через фильтр)
          git clone --depth 1 https://github.com opencv_src
          
          # Создаем структуру и копируем ВСЕ заголовки из модулей core и imgproc
          mkdir -p include/opencv2
          cp -rv opencv_src/modules/core/include/opencv2/* include/opencv2/
          cp -rv opencv_src/modules/imgproc/include/opencv2/* include/opencv2/
          
          echo "Содержимое папки include:"
          ls -R include/opencv2




