name: Fast Build OpenCV WASM
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        
      - name: Download OpenCV Headers
        run: |
          wget -O opencv.zip https://github.com/opencv/opencv/archive/refs/tags/4.10.0.zip
          unzip -q opencv.zip
          mkdir -p opencv-wasm/include
          # Собираем все инклюды в одну кучу
          cp -r opencv-4.10.0/include/* opencv-wasm/include/
          find opencv-4.10.0/modules -name "include" -type d -exec cp -r {}/. opencv-wasm/include/ \;
          # Проверка связи
          ls -R opencv-wasm/include/opencv2/core.hpp
          
      - name: Build My Project
        run: python3 scripts/build.py

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wasm-dist
          path: |
            index.js
            index.wasm

