name: Build OpenCV WASM
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14

      - name: Verify Emscripten
        run: emcc -v
        
      - name: Download OpenCV Headers
        run: |
          # Клонируем ПОЛНЫЙ адрес (проверьте, чтобы было /opencv/opencv.git)
          git clone --depth 1 https://github.com/opencv/opencv.git opencv_src
          
          mkdir -p include/opencv2
          cp -rv opencv_src/modules/core/include/opencv2/* include/opencv2/
          cp -rv opencv_src/modules/imgproc/include/opencv2/* include/opencv2/
          
          echo "Проверка: заголовки на месте!"
          ls include/opencv2/imgproc.hpp
          
      - name: Build with Python
        run: python3 scripts/build.py
          
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wasm-dist
          path: |
            index.js
            index.wasm
